<!DOCTYPE html>
<html>
    <head>
            <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/mainpage.css') }}">
        <nav>
                <a href='/'>Home</a>         
                <a href='/blog'>All Post</a>
                <a href='/newpost'>Add New Blog Entry</a>
                <div align="right"></div>
                <a href='/logout'>Logout</a>
                <a href='/login'>Login</a>
                <a href='/signup'>Signup</a>
                </div>
               
        </nav>
        <title>BLOGZ!</title>
        <style type="text/css">
            .error {
                color: red;
            }
        </style>
    </head>
    <body>
        {% with messages = get_flashed_messages(with_categories=True) %}
          {% for category,message in messages %}
             <li class="{{category}}">{{message}}</li>
          {% endfor %}
       {% endwith %}

        {% block content %}
        {% endblock %}

    </body>
</html>
